@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
.barraRGB{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to left, rgb(82, 4, 4), rgb(26, 2, 2), rgb(0, 0, 0));
    background-size: 100% 500%;
}

.botao{
    justify-content: flex-end;
    margin-top: 50vh;
}
button{
    background-image: linear-gradient(45seg #0606f3, #0087f5);
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes anima {
    0%{
        transform: scale(1);
    }
    100%{transform: scale(1.05);}
}
button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
nav.menu-lateral{
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1;
    box-shadow: 3px 0 0 #7e0202;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}
nav.menu-lateral.expandir{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.2s;
}

ul li.ativo{
    background-color: #8b0202;
}
ul li.item-menu:hover{
    background: #8b0202;
}
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
}

.content{
    width: 68%;
    height: 643px;
    border-radius: 75px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content .slide img{
    height: 100%;
    width: 100%;
}

.navegacao{
    position: absolute;
    bottom: 160px;
    left: 850px;
    display: flex;
}

.bar{
    width: 15px;
    height: 15px;
    border: 2px solid #030000;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s ease;
}

.bar:hover{
    background-color: #020000;
}

input{
    display: none;
}

.slides{ 
    display: flex;
    width: 500%;
    height: 100%;

}

.slide{
    width: 20%;
    transition: .6s;
}

#slide1:checked ~ .s1{
    margin-left: 0%;
}
#slide2:checked ~ .s1{
    margin-left: -20%;
}
#slide3:checked ~ .s1{
    margin-left: -40%;
}
#slide4:checked ~ .s1{
    margin-left: -60%;
}
#slide5:checked ~ .s1{
    margin-left: -80%;
}