@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}
.barraRGB{
    width: 100%;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: linear-gradient(to left, rgb(0, 0, 255), rgb(2, 221, 250), rgb(108, 6, 243));
    background-size: 500% 100%;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}
.botao{
    justify-content: flex-end;
    margin-top: 50vh;
}
button{
    background-image: linear-gradient(45seg #0606f3, #0087f5);
    padding: 10px 20px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@keyframes anima {
    0%{
        transform: scale(1);
    }
    100%{transform: scale(1.05);}
}
button:hover{
    animation-name: anima;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
nav.menu-lateral{
    width: 50px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1;
    box-shadow: 3px 0 0 #ff0077;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}
nav.menu-lateral:hover{
    width: 300px;
}
.btn-expandir{
    width: 100%;
    padding-left: 10px;
}
.btn-expandir{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu{
    transition: 0.2s;
}
ul li.item-menu:hover{
    background: #ff0077;
}
ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 40px;
}
ul li.item-menu a .icon > i{
    font-size: 30px;
}
